input[type=text] {
    width: 33.0%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    color: white;
    display: inline;
}
#form {
    
}
.stop {
    background-color: red;
}
.caution {
    background-color: yellow;
}
.go {
    background-color: green;
}
#msg {
    text-align: center;
}
